.profile__info-user {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 8px;
}

@media screen and (max-width: 426px) {
    .profile__info-user {
        justify-content: center;
        margin-bottom: 9px;
        padding-left: 22px;
    }
}
