.popup__closed {
    position: absolute;
    top: -40px;
    right: -40px;
    width: 32px;
    height: 32px;
    background-image: url(../../../images/close-icon.svg);
    background-color: unset;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    outline: none;
    transition: 0.3s;
}

.popup__closed:hover {
    opacity: 0.6;
    cursor: pointer;
}
