.profile__edit-button {
    margin: 0 0 9px 0;
    background-color: unset;
    background-image: url(../../../images/Vector.svg);
    background-position: 50%;
    background-repeat: no-repeat;
    border: 1px solid #fff;
    box-sizing: border-box;
    width: 24px;
    height: 24px;
    outline: none;
    transition: 0.3s;
    cursor: pointer;
}

.profile__edit-button:hover {
    opacity: 0.6;
}
