.popup__input-error {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #ff0000;
    position: absolute;
    top: 89px;
    left: 36px;
    opacity: 0;
    transition: 0.2s;
}

.popup__input-error:nth-child(2) {
    top: 32px;
}

@media screen and (max-width: 768px) {
    .popup__input-error {
        left: 22px;
    }
}
