.popup__input {
    width: 358px;
    font-size: 14px;
    line-height: 17px;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin: 0 36px 30px;
    outline: none;
    padding: 0;
    padding-bottom: 9px;
}
