.popup__button {
    width: 358px;
    height: 50px;
    background-color: black;
    margin: 18px 36px 37px 36px;
    color: white;
    font-size: 18px;
    line-height: 22px;
    border: 0;
    border-radius: 2px;
    outline: none;
    cursor: pointer;
}

.popup__button:hover {
    opacity: 0.8;
}
