.profile__info-title {
    max-width: 336px;
    margin: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    color: #ffffff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media screen and (max-width: 426px) {
    .profile__info-title {
        font-size: 27px;
        line-height: 33px;
        max-width: 220px;
    }
}
